main{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-operator{
    background-color: #686767;
    width: 50px;
    height: 50px;

    font-size: 2rem;
    color: #ffffff;

    border: none;
    margin: 10px 5px 10px 5px;
    
}

.button-number{
    width: 85px;
    height: 50px;

    font-size: 2rem;
    cursor: pointer;
    
    margin: 10px 5px 10px 5px;
}

.buttons-div{
    width: 350px;
    height: fit-content;
    flex-wrap: wrap;
    padding-block: 10px;
    border: 1px solid red;
}

.result{
    width: 350px;
    height: 225px;
    border: 1px solid red;
}